<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63859468691-qaap2iquuua1uuh3g7kco62imrvc1vau.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63859468691-qaap2iquuua1uuh3g7kco62imrvc1vau</string>
	<key>API_KEY</key>
	<string>AIzaSyBzNOSu6J9iiNlMQHg-qq4CsgFmUUGcpV0</string>
	<key>GCM_SENDER_ID</key>
	<string>63859468691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.everis.Fin4teen</string>
	<key>PROJECT_ID</key>
	<string>fin4teen-afb7f</string>
	<key>STORAGE_BUCKET</key>
	<string>fin4teen-afb7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63859468691:ios:2a4726e56ac1bc9340a066</string>
</dict>
</plist>